@import "tailwindcss";

@theme {
  --color-brand-500: #e50914;
  --color-brand-600: #b80710;
  --color-dark-900: #0a0a0a;
  --color-dark-800: #141414;
  --color-dark-700: #1f1f1f;
  --color-gold: #f5c518;
}

@layer base {

  html,
  body {
    background-color: var(--color-dark-900);
    color: #ededed;
  }
}

@layer components {
  .glass-panel {
    background: rgba(31, 31, 31, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #fff, #a3a3a3);
  }
}